body {
    font-size:18px;    
    font-family: 'Courier New', Courier, monospace;
    color:darkslategrey; 
    background-image: url('./images/knotty.jpeg');
}

strong {
    font-weight:bolder;
    font-family:Courier,monospace;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    color:rgb(33, 33, 54);
    font-size: small;
}